<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Sebastian Guevara</h1>
    </header>
    <main>
        <section>
            <h2>Profile Basic</h2>
            <p>My name is Sebastian Guevara, I am from Colombia, I am currently studying a master's degreee in information security at ITMO University in Russia, I like this class of web development because you learn new skills and strengthen others.</p>
            <img src="images/IMG_0762-2.jpg" alt="Foto in the sea">
            <figcaption>photo in the sea when I was studying in my country</figcaption>        
        </section>
    </main>
    <footer>
        <p>Contact: Sebastianguevara11@gmail.com</p>
    </footer>
</body>
</html>
